<!DOCTYPE html>
<html>
<head>
  <title>PennyWise - Expense Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dashboard/dashboard.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Nav Bar  -->

  <nav class="navbar navbar-expand-md ">
    <a class="navbar-brand" href="#">
      <img src="pennywise-logo.png" alt="P">
      PennyWise
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Track Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">@TonyDeCosta</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- dashboard heading -->

  <div class="head container">
    <h1>Hello User123 </h1>
    <h3>Welcome to your Dashboard</h3>
    <p>You've spent </p>
    <p>Rs 50</p>
      <p>this month</p>
  </div>

<div class="second">
<!-- Dashboard user input form -->
<h2 class="cent">Add or Delete your expenses here</h2>
<div>
  <form action="/<%= user %>/dashboard_add" method="post" class="inp-form">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="2023-04-22">
    <label for="item">Item:</label>
    <input type="text" name="title" onChange={handleChange} placeholder="Add item">
    <label for="amount">Amount:</label>
    <input type="text" name="amount" placeholder="Amount in Rs" rows="1">
    <button type="submit" class="inp-but" >+</button>
  </form>
</div>

  <!-- dashboard card notes -->
  <div class="scrolling-wrapper">

    <% expenses.forEach(function(item) { %>
    <% item.expense.forEach(function(expenseItem) { %>

    <!-- <div class="card-space"> -->

    <section class="my-5" style="max-width: 13rem;">
     <form action="/<%= user %>/dashboard_delete" method="post">
       <input type="hidden" name="expenseId" value="<%= expenseItem._id %>">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
            <div class="blockquote-custom-icon shadow-1-strong">
               <%= expenseItem.date.toLocaleDateString("en-GB") %>
            </div>
            <p class="card_p">
              <%= expenseItem.description %>
            </p>
            <div class=" pt-2 mt-2 border-top">
              <p class="card_p">
                Rs <%= expenseItem.Amount %>
              </p>
            </div>
          </blockquote>
        </div>
        <button type="submit" class="del-but" >-</button>
      </div>
</form>
    </section>
    <%  }); }); %>
    <!-- </div> -->
    <!-- <div class="card-space"> -->
</div>
</div>

<!-- dashboard expense history -->
<div class="container-fluid third" style="background-color:#296099;padding-top:50px;padding-bottom: 75px;">
<h2 class="cent">Your expense history</h2>
<div class="container">
    <form action="/<%= user %>/dashboard_history" method="post" class="hist-form">
      <div class="form-group hide_or_not">
        <label for="date-input">Date:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" onclick="decrementDate()">&#x25C0;</span>
          </div>
          <input type="date" class="form-control" id="date-input" name="date_input">
          <div class="input-group-append">
            <span class="input-group-text" onclick="incrementDate()">&#x25B6;</span>
          </div>
        </div>
      </div>
      <div class="form-group" >
        <label for="sort-select">Sort By:</label>
        <select class="form-control" id="sort-select" name="sort_select">
          <option value="" disabled selected>Select an option</option>
          <option value="any">Any</option>
          <option value="amount_asc">Amount Ascending</option>
          <option value="amount_dec">Amount Decending</option>
          <option value="category">Category</option>
          <option value="date_asc">Date Ascending</option>
          <option value="date_dec">Date Decending</option>

        </select>
      </div>
      <div style="text-align:center;" class="form-group">
        <button class="mid_button" type="submit" name="show_all" value="true">Show all</button>
      </div>
      <button class="history-but" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Amount in Rs</th>
          <th>Date</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
  <% if(items.length > 0) { %>
    <% items.forEach((item) => { %>
      <%   item.expense.forEach((expense) => { %>
      <tr>
        <td><%= expense.description %></td>
        <td><%= expense.Amount %></td>
        <td><% if(expense.date) { %>
          <%= expense.date.toLocaleDateString("en-GB") %>
        <% } %></td>
        <td><%= expense.category %></td>
      </tr>
    <% }); %>
  <% }); %>
  <% } else { %>
    <tr>
      <td colspan="4">No expenses found for the selected date</td>
    </tr>
  <% } %>
</tbody>
    </table>
  </div>
</div>


<!-- links to other pages  -->
<div class="forth">

<a href="/<%= user %>/insights"><button type="button" class="btn btn-primary dash-link">Smart Insights</button></a>
<a href="/<%= user %>/loans">  <button type="button" class="btn btn-primary ml-auto dash-link">Track Loans</button></a>
<script src="/dashboard/dashboard.js" charset="utf-8"></script>
</div>
</body>
</html>
